@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #060010;
}
.glassy-navbar {
  background: #06001013;
    backdrop-filter: blur(10px);
  border-bottom: 0.4px solid #6100fe3d;
  transition: transform 0.3s ease;
}


.gradient-bg {
    background: #060010;
    background: linear-gradient(5deg, rgba(6, 0, 16, 1) 15%, rgba(6, 0, 16, 0) 70%);
}

.gradient-bg-reverse {
    background: #060010;
    background: linear-gradient(5deg,  rgba(6, 0, 16, 0) 15%, rgba(6, 0, 16, 1) 70%);
}